<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}"> Logout </a></li>
            <li><a href="{% url 'category_list' %}"> Categories </a></li>
            <li><a href="{% url 'create_account' %}"> Create </a></li>
            <li><a href="{% url 'home' %}"> Home </a></li>
            {% else %}
            <li><a href="{% url 'signup' %}"> Sign Up </a></li>
            <li><a href="{% url 'login' %}"> Login </a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<body>
    <table>
        <thead>
            <tr>
                <th> Name </th>
                <th> Number </th>
                <th> Number of Receipts </th>
            </tr>
        </thead>
        <tbody>
            {% for account in account_data %}
            <tr>
                <td> {{ account.name }} </td>
                <td> {{ account.number }}</td>
                <td> {{ account.num_receipts }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
